.logo {
  text-align: center;
  background-color: e76f51;
  color: rgb(0, 0, 0);
  padding: 0.5em;
  font-family: roboto;
  font-size: 20px;
  font-weight: bolder;
}

img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  width: 12%;
  block-size: 16%;
  display:inline-block;
  padding: 28px;
}

p {
  font-weight: bolder;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: bottom;
}

ul {
  font-weight: normal;
  text-align: bottom;
}